@use "mixVar" as v;

.app {
  // background-color: v.$teal;
  background-image: radial-gradient(#9FBBD1, v.$teal);
  height: 100%;
  width: 100%;
}

.header {
  @include v.flexbox(row, flex-start, center);
  font-family: v.$racing;
  font-size: 300%;
  color: v.$yellow;
}

h1 {
  margin-left: 3%;
}

h1::first-letter {
  color: v.$red;
  font-size: larger;
}

