@use "mixVar" as v;

body {
  height: 100%;
  width: 100%;
  background-image: radial-gradient(#9FBBD1, v.$teal);
}

.app {
  height: 100%;
  width: 100%;
}

.header {
  @include v.flexbox(row, flex-start, center);
  font-family: v.$racing;
  font-size: 4vw;
  color: v.$yellow;
  text-shadow: 1px 1px black;
}

h1 {
  margin-left: 3%;
}

h1::first-letter {
  color: v.$red;
  font-size: larger;
}

@media screen and (max-width: 775px) {
  .header {
    font-size: 20pt;
  }
}

@media screen and (max-width: 500px) {
  .header {
     @include v.flexbox(column, center, center);
     font-size: 18pt;
  }

  h1 {
    margin: none;
    padding: none;
  }
}