@use "mixVar" as v;

.header {
  @include v.flexbox(row, flex-start, center);
  font-family: v.$racing;
  font-size: 32pt;
  color: v.$yellow;
}

h1 {
  margin-left: 3%;
}

h1::first-letter {
  color: v.$red;
  font-size: larger;
}