@use "mixVar" as v;

.container {
  @include v.flexbox(row, center, flex-start);
}

.drivers {
  @include v.flexbox(column, flex-start, center);
  font-size: 150%;
  font-family: v.$commissioner;
  width: 50vw;

  h2 {
    font-family: v.$prosto;
    color: v.$yellow;
    text-shadow: 2px 2px black;
  }

  li {
    color: black;
  }
}

tr {
  @include v.flexbox(row, space-between, center);
  width: 45vw;
}

th {
  color: v.$yellow;
}

td {
  color: v.$light;
  margin-left: 5%;
}

.driver-info {
  background-color: v.$medium;
  padding: 3% 10%;
  border: 6px groove v.$teal;
  border-radius: 10px;
}

form {
  @include v.flexbox(column, space-between, center);
  width: 100%;
}

select {
  font-size: 100%;
  margin: 2%;
  padding: 1%;
  background-color: v.$medium;
  color: v.$light;
  border: 6px groove v.$teal;
  border-radius: 10px;
}

.driver-buttons {
  @include v.flexbox(row, space-between, flex-start);
  width: 20vw;
  margin: 1% 1% 3% 1%;
}

button {
  font-size: 70%;
  width: 14vw;
  padding: 1%;
  background-color: v.$light;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
}

.clear {
  border: 5px outset v.$red;
}
.clear:hover {
  background-color: v.$red;
}

.lookup-driver {
  border: 5px outset v.$yellow;
}

.lookup-driver:hover {
  background-color: v.$yellow;
}

@media screen and (max-width: 775px) {
  tr {
    @include v.flexbox(row, space-between, center);
    width: 75vw;
  }

  .container {
    @include v.flexbox(column, flex-start, center);
  }

  h2 {
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .drivers {
    font-size: 120%
  }
}

