@use "mixVar" as v;

.container {
    @include v.flexbox(row, center, flex-start);
}

.schedule {
    @include v.flexbox(column, flex-start, center);
    font-size: 125%;
    font-family: v.$commissioner;
    
    h2 {
        font-family: v.$prosto;
        color: v.$yellow;
        text-shadow: 2px 2px black;
    }

    li {
        color: black;
    }
}

tr {
    @include v.flexbox(row, space-between, center);
    width: 40vw;
}

th {
    color: v.$yellow;
}

td {
    color: v.$light;
    margin-left: 5%;
}

.race-container {
    background-color: v.$medium;
    padding: 3% 10%;
    border: 6px groove v.$teal;
    border-radius: 10px;
}

@media screen and (max-width: 775px) {
    tr {
        @include v.flexbox(row, space-between, center);
        width: 75vw;
    }

    .container {
        @include v.flexbox(column, flex-start, center);
    }

    h2 {
        text-align: center;
    }
}

@media screen and (max-width: 500px) {
    .schedule {
        font-size: 90%
    }
}