@use "mixVar" as v;

.schedule {
    @include v.flexbox(column, flex-start, center);
    font-size: 150%;
    font-family: v.$commissioner;
    
    h2 {
        color: v.$yellow;
    }

    li {
        color: black;
    }
}

tr {
    @include v.flexbox(row, space-between, center);
    width: 30vw;
}

th {
    color: v.$yellow;
}

td {
    color: v.$light;
    margin-left: 5%;
}

.race-container {
    background-color: #497597;
    padding: 3% 10%;
}