@use "mixVar" as v;

.side-nav {
    @include v.flexbox(row, flex-end, flex-end);
    margin: 8% 8% 8% 0;
}

.right-nav {
    @include v.flexbox(column, flex-end, flex-end);
    font-size: 70%;

    img {
        width: 8vw;
        height: 8vw;
    }
}

.active {
    color: v.$light;
}

a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 775px) {
    .right-nav {
        @include v.flexbox(row, space-evenly, flex-start);
        width: 100vw;
        font-size: 55%;

        img {
            width: 15vw;
            height: 15vw;
        }
    }
}